@model Entities.Dtos.UserForLoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>

    <div class="imgcontainer"><br /><br /><br /></div>

    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="container">

            @Html.LabelFor(x => x.UserName, "Kullanıcı Adı")
            @Html.TextBoxFor(x => x.UserName, null, new { value = Model.UserName })

            @Html.LabelFor(x => x.Password, "Şifre")
            @Html.PasswordFor(x => x.Password, new { value = Model.Password })
            <button type="submit" id="LoginUser">Giriş Yap</button>

            <label>@Html.CheckBoxFor(m => m.Remember, new { @id = "Remember" }) Şifremi Hatırla</label>
        </div>
    }

</body>
</html>






